* {
    box-sizing: border-box;

    font-size: 1.12em;

    color: #ddd0c0;
    background-color: #262220;

    overflow-wrap: break-all;
    word-wrap: break-word;

    outline: none;

    font-family: monospace, hack, sans, opensans, sans-serif;
    font-weight: bold;

    scrollbar-width: none; /* For firefox */
}

::-webkit-scrollbar {
  display: none;
  /* for chrome, safari, and opera */
}

body {
    padding: 2em;
}


textarea {
    height: 85vh;
    width: 100%;

    border: none;
    resize: none;

    overflow: scroll;
}


input {
    border-style: dashed;

    display: block;
    width: 100%;

    margin: 0.3em;
    padding: 0.3em;
}

input[type=submit] {
    letter-spacing: 0.15ch;
    transition: background-color 0.6s;
}

input[type=submit]:hover,
input[type=submit]:focus {
    background-color: #ddd0c010;
    transition: background-color 0.6s;
}


a {
    text-decoration: none;
    color: #87afaf;
    font-size: 1.3em;
}


code {
    white-space: pre-wrap;
}


.glow {
    text-shadow: 0px 0px 4px white;
}
