{% extends "base.j2" %}

{% block content %}
    <p style="font-size: 1.5em;">Messages from the server:</p>
    <ul>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <li>{{ message }} -- <i class="glow">{{ category }}</i></li>
            {% endfor %}
        {% endwith %}
    </ul>
{% endblock %}

